// TOOLS: MIXINS (ITCSS)

@use "../settings/variables" as v;

// MEDIA QUERIES (MOBILE-FIRST)
@mixin tablet {
  @media (min-width: v.$bp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$bp-desktop) {
    @content;
  }
}

// FLEXBOX HELPERS
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// TEXTO RESPONSIVO
@mixin fluid-text($min, $max) {
  font-size: calc(
    #{$min}px + (#{$max} - $min) * ((100vw - 320px) / (1024 - 320))
  );
}
