//OBJECT: FLEX CONTAINER

@use "../settings/variables" as v;

.o-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 v.$spacing-md;
}
